.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
}

.about__title2 {
    font-size: var(--size-xl);
    color: var(--clr-slate400);
    padding-bottom: .5em;
}

.about__hr {
    color: var(--clr-slate600);
}

.about__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

.about__subtitle {
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

.about__ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: '\1F680';
    padding-left: 3em;
    padding-bottom: 1em;
}

.about__li {
    font-size: var(--size-sm);
    color: var(--clr-slate600);
    margin-left: 2.5rem;
}

.about__li::before {
    content: '';
    margin-left: 0.5em;
}

.about__ul__container {
    display: flex;
    flex-direction: column;
}

.about__ul__row {
    display: flex;
    flex-direction: column;
}

/* XS */
@media (min-width: 475px) {
    .about {
        gap: 1.5rem;
    }
    
    .about__content {
        gap: 1.5rem;
    }
    
    .about__title {
        font-size: var(--size-3xl);
    }
    
    .about__title2 {
        font-size: var(--size-2xl);
    }
    
    .about__description {
        font-size: var(--size-base);
    }
    
    .about__subtitle {
        font-size: var(--size-base);
    }
    
    .about__li {
        font-size: var(--size-base);
    }

    .about__image {
        width: 20rem;
        border-radius: 10px;
    }

    .about__image__container {
        display: flex;
        justify-content: center;
    }
    .about__hr {
        width: 29em;
    }
}

/* SM */
@media (min-width: 640px) {
    .about__ul__row{
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }
    .about__ul {
        flex: 1;
    }
    .about__hr {
        width: 34em;
    }
}

/* MD */
/* @media (min-width: 768px) {
    
} */

/* LG */
@media (min-width: 1024px) {
    .about {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .about__content {
        flex: 2;
        align-items: center;
        gap: 2rem;
    }
    .about__image__container {
        flex: 1;
    }
    .about__image {
        width: 46rem;
    }
    .about__hr {
        width: 35em;
    }

    .about__title {
        font-size: var(--size-4xl);
    }
    
    .about__title2 {
        font-size: var(--size-3xl);
    }
    
    .about__description {
        font-size: var(--size-lg);
    }
    
    .about__subtitle {
        font-size: var(--size-lg);
    }
    
    .about__li {
        font-size: var(--size-lg);
    }
}

/* XLG */
@media (min-width: 1280px) {
    .about__content {
        gap: 3rem;
    }
    .about__title {
        font-size: var(--size-5xl);
    }
    
    .about__title2 {
        font-size: var(--size-4xl);
    }
    
    .about__description {
        font-size: var(--size-2xl);
    }
    
    .about__subtitle {
        font-size: var(--size-2xl);
    }
    
    .about__li {
        font-size: var(--size-2xl);
    }
    .about__hr {
        width: 50em;
    }
}

/* 2XLG */
/* @media (min-width: 1536px) {
    
} */