html {
  width: 100%;
  height: 100%;
  padding: 0%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  padding: 0%;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  user-select: none;
}